.App {
  background-color: #121212;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
}

.highlight {
  color: #1DB954; /* Spotify green */
  font-weight: 500;
}

.SearchResults, .Playlist {
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: rgba(50, 50, 75, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

div.wrap {
  display: flex;
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-content: center;
} 

.Track-action {
  color: #1DB954; /* Spotify green */
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 7px;
}

div.Track {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;

}


