.App {
  font-family: monospace;
  background-color: #121212;
  color: #fff;
  padding: 20px;
  min-height: 100vh;
}

h1 {
  font-size: 60px;
}
div.saveWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}  

div.headerWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.NowPlaying .track-timing {
    text-align: center;
    position: relative;
    color: white;
}

.highlight {
  color: #1DB954; /* Spotify green */
  font-weight: 500;
}

.SearchResults, .Playlist {
  width: 50%;
  margin: 10px;
  padding: 20px;
  background-color: rgba(50, 50, 75, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

div.wrap {
  display: flex;
}

.Playlist {
  display: flex;
  flex-direction: column;
  align-content: center;
} 

.Track-action {
  color: #1DB954; /* Spotify green */
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 7px;
}

div.Track {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row-reverse;

}
.NowPlaying .progress-bar-background {
    width: 100%;
    background-color: #ccc;
    height: 20px;
    position: relative;
    border-radius: 5px;
    margin-top: 10px;
}

.NowPlaying .progress-bar-foreground {
    height: 20px;
    background-color: #1db954; /* Spotify green */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
}

.NowPlaying .track-timing {
    text-align: center;
    margin-top: 5px;
    color: white;
}

